@charset "utf-8";
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
input,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
option,
p,
pre,
q,
ruby,
s,
samp,
section,
select,
small,
span,
strike,
strong,
sub,
summary,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
:focus {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}
address {
  font-style: normal;
}
a {
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
}
a hover {
  text-decoration: none;
}
a img {
  outline: none;
}
img {
  width: auto;
  height: auto;
  max-width: 100%;
  margin: 0px;
  vertical-align: top;
  font-size: 0;
  outline: none;
}
body {
  font-family: 'ヒラギノ角ゴシック Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
  font-size: 100%;
}
.l-wrap {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  overflow: hidden;
}
.l-centering__bef,
.l-centering__aft {
  width: 830px;
  height: auto;
  float: left;
  position: relative;
  top: 0;
}
.l-centering__bef {
  left: 50%;
}
.l-centering__aft {
  left: -50%;
}
.mod_search {
  width: 50%;
  margin-top: 30px;
  float: right;
}
.search-input {
  float: left;
  width: 270px;
  height: 28px;
  margin: 0 5px 0 0;
  padding: 0;
  border: solid 1px #e6e6e6;
}
.searchsubmit {
  float: left;
  width: 38px;
  height: 30px;
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  background-color: #d33382;
  background-image: url("btn_search.png");
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.submit {
  width: 272px;
  height: 61px;
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  background-color: #d33382;
  background-image: url("btn_submit_m.png");
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.submit:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
h1 {
  width: 50%;
  margin-top: 30px;
  float: left;
}
h2 {
  width: 395px;
  font-size: 188%;
  font-weight: 400;
  line-height: 113.33333333333333%;
  border-bottom: 5px solid #d33382;
  margin-top: 45px;
}
h2 span.text-small {
  font-size: 70%;
}
.row {
  width: 100%;
  height: auto;
  float: left;
}
.mod_form h3 {
  margin-top: 20px;
}
.mod_form select {
  border-radius: 0;
  background-color: #fff;
}
.mod_form option {
  border-radius: 0;
}
.mod_form input[type=text],
.mod_form input[type=tel],
.mod_form input[type=email],
.mod_form select,
.mod_form textarea {
  box-sizing: border-box;
  box-shadow: none;
  border: 1px #ccc solid;
}
.mod_form input[type=text],
.mod_form input[type=tel],
.mod_form input[type=email],
.mod_form textarea,
.mod_form select,
.mod_form button {
  font-family: 'ヒラギノ角ゴシック Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
}
.mod_form input[type=text],
.mod_form input[type=tel],
.mod_form input[type=email],
.mod_form select {
  min-height: 30px;
  line-height: 53.333333333333336%;
}
input.w340 {
  width: 340px !important;
  height: auto;
  float: left;
}
input.w186 {
  width: 186px !important;
  height: auto;
  float: left;
}
.mod_form h3 {
  font-size: 0.9em;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}
.mod_form dl {
  font-size: 0.9em;
}
.ex_essential {
  color: #ac3c28;
}
.mod_form_wrapper {
  width: 810px;
  border: solid 2px #ccc;
  border-radius: 10px;
}
.mod_form_wrapper dl {
  display: table-row;
}
.mod_form_wrapper dl dt,
.mod_form_wrapper dl dd {
  display: table-cell;
  margin: 10px;
  padding: 30px 30px;
  text-align: left;
}
.mod_form_wrapper dl dt {
  width: 200px;
  background-color: #fafafa;
  border-right: solid 1px #ccc;
  border-top: solid 1px #ccc;
}
.mod_form_wrapper dl dd {
  width: 610px;
  border-top: solid 1px #ccc;
}
.mod_form_wrapper dl.first dt,
.mod_form_wrapper dl.first dd {
  border-top: none;
}
.mod_form_wrapper dl.first dt {
  border-top: none;
  border-radius: 10px 0 0 0;
}
.mod_form_wrapper dl.last dt {
  border-radius: 0 0 0 10px;
}
